<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="ISO-8859-1">
	<title>ZBS Inspections</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <style>
    #username{font-weight:bold; color:rgb(8, 8, 119); font-size:18px;}
  </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#483D8B;">
	    <div class="container-fluid">
        <a class="navbar-brand" href="#">ZBS Inspections</a>
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	                <li class="nav-item">
	                    <a class="nav-link" aria-current="page" th:href="@{/vehicle}">Vehicle</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" aria-current="page" th:href="@{/member}">Member</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" aria-current="page" th:href="@{/payment}">Payment</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link active" aria-current="page" th:href="@{/ViewUser}">Users</a>
	                </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/logout}">LogOut</a>
                  </li>
	            </ul>
	        </div>
	    </div>
	</nav>

	<div class="container-fluid" ng-app="zbs" ng-controller="userCtrl">

		<div class='row'>
			<div class="col-sm-12">
				<h3>
          View Users
          <button class='btn btn-primary btn-sm' data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add New User</button>
        </h3>
				<hr>
				<div class="table-responsive">
					<table class="table table-bordered table-sm table-striped">
						<thead>
							<tr>
								<th>SN</th>
								<th>Name</th>
								<th>Gender</th>
								<th>Address</th>
								<th>Phone</th>
                				<th>Username</th>
                				<th>Role</th>
								<th>Event</th>
							</tr>
						</thead>
						<tbody>
								<tr th:each="user: ${users}">
						            <td width="20px" th:text="${user.id}"></td>
						            <td th:text="${user.name}"></td>
						            <td th:text="${user.gender}"></td>
						            <td th:text="${user.address}"></td>
						            <td th:text="${user.phone}"></td>
						            <td th:text="${user.username}"></td>
						            <td th:text="${user.role}"></td>
						            <td>
						            	<button class='btn btn-primary btn-sm btnEdit' th:value="${user.uid}" data-bs-toggle="modal" data-bs-target="#EditUser">Edit</button>
						            	<button class='btn btn-danger btn-sm btnRemove' th:value="${user.uid}">Delete</button>
						            </td>
						       </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#483D8B;">
          <h5 class="modal-title" id="staticBackdropLabel" style="color:white;">Add User Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white;"></button>
        </div>
        <div class="modal-body">
          <form method="post" class="form-horizontal">
              <div class="form-group mb-3">
                              <h4 class="control-label">Name</h4>
                              <input
                                  type="text"
                                  id="name"
                                  class="form-control text-success"
                                  placeholder="Enter Name"
                                  style="font-weight:bold;"
                              />

                              <h4 class="control-label">Gender</h4>
                              <select type="text" id="gender" class="form-control text-success" style="font-weight:bold;">
                                <option>Male</option>
                                <option>Female</option>
                              </select>

                              <table width="100%">
                                <tr>
                                  <td><h4 class="control-label">Address</h4></td>
                                  <td><h4 class="control-label">Phone</h4></td>
                                </tr>
                                <tr>
                                  <td>
                                    <input
                                      type="text"
                                      id="address"
                                      class="form-control text-success"
                                      placeholder="Enter Address"
                                      style="font-weight:bold;"
                                    />
                                  </td>
                                  <td>
                                    <input
                                      type="text"
                                      id="phone"
                                      class="form-control text-success"
                                      placeholder="Enter phone"
                                      style="font-weight:bold;"
                                    />
                                  </td>
                                </tr>
                              </table>

                              <h4 class="control-label">UserName</h4>
                              <input
                                  type="text"
                                  id="username"
                                  class="form-control text-success"
                                  placeholder="Enter username"
                                  style="font-weight:bold;"
                              />

                              <table width="100%">
                                <tr>
                                  <td><h4 class="control-label">Password</h4></td>
                                  <td><h4 class="control-label">Conform Password</h4></td>
                                </tr>
                                <tr>
                                  <td>
                                    <input
                                        type="password"
                                        id="password"
                                        class="form-control text-success"
                                        placeholder="Enter password"
                                        style="font-weight:bold;"
                                    />
                                  </td>
                                  <td>
                                    <input
                                        type="password"
                                        id="cpassword"
                                        class="form-control text-success"
                                        placeholder="Enter Confrim Password"
                                        style="font-weight:bold;"
                                    />
                                  </td>
                                </tr>
                              </table>

                              <h4 class="control-label">Role</h4>
                              <select type="text" id="role" class="form-control text-success" style="font-weight:bold;">
                                <option>Staff</option>
                                <option>Admin</option>
                              </select>
                              
                              <input type="hidden" class='submit'>
                          </div>
      </form>
        </div>
        <div class="modal-footer bg-dark">
          <button type='button' class="btn btn-success btnAdd">Add User</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="EditUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#483D8B;">
          <h5 class="modal-title" id="staticBackdropLabel" style="color:white;">Edit User Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white;"></button>
        </div>
        <div class="modal-body">
          <form method="post" class="form-horizontal">
              <div class="form-group mb-3">
                              <h4 class="control-label">Name</h4>
                              <input
                                  type="text"
                                  id="name2"
                                  class="form-control text-success"
                                  placeholder="Enter Name"
                                  style="font-weight:bold;"
                              />

                              <h4 class="control-label">Gender</h4>
                              <select type="text" id="gender2" class="form-control text-success" style="font-weight:bold;">
                                <option>Male</option>
                                <option>Female</option>
                              </select>

                              <table width="100%">
                                <tr>
                                  <td><h4 class="control-label">Address</h4></td>
                                  <td><h4 class="control-label">Phone</h4></td>
                                </tr>
                                <tr>
                                  <td>
                                    <input
                                      type="text"
                                      id="address2"
                                      class="form-control text-success"
                                      placeholder="Enter Address"
                                      style="font-weight:bold;"
                                    />
                                  </td>
                                  <td>
                                    <input
                                      type="text"
                                      id="phone2"
                                      class="form-control text-success"
                                      placeholder="Enter phone"
                                      style="font-weight:bold;"
                                    />
                                  </td>
                                </tr>
                              </table>

                              <h4 class="control-label">UserName</h4>
                              <input
                                  type="text"
                                  id="username2"
                                  class="form-control text-success"
                                  placeholder="Enter username"
                                  style="font-weight:bold;"
                              />

                              <h4 class="control-label">Role</h4>
                              <select type="text" id="role2" class="form-control text-success" style="font-weight:bold;">
                                <option>Staff</option>
                                <option>Admin</option>
                              </select>
                              
                              <input type="hidden" class='submit'>
                          </div>
      </form>
        </div>
        <div class="modal-footer bg-dark">
          <button type='button' class="btn btn-warning btnUpdateUser">Update User</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
     function logOut()
		{
			var con = confirm("Do you want logout ?");
			if (con == true)
			{
				window.open("http://localhost:8080/logout", "_self");
			}
		}
		
	$(".btnRemove").click(function(){
		var con = confirm("Do you want remove it ?");
		if (con == true)
		{
			$.get("http://localhost:8080/deleteUser/" + $(this).val(),
			 function(data, status){
			    
				window.open("http://localhost:8080/ViewUser", "_self");
			});
		}
	});
	
		var datec = "";
		if ((new Date().getMonth()  + 1) < 10)
		{
			datec = new Date().getFullYear() + "-" + "0" + (new Date().getMonth()  + 1) + "-" + new Date().getDate();
		}else{datec = new Date().getFullYear() + "-" + (new Date().getMonth()  + 1) + "-" + new Date().getDate();}
		
		$(".submit").val(datec);
	
	$(".btnAdd").click(function(){
			
			if ($("#password").val() == $("#cpassword").val())
			{
			
				var conf = confirm("Do you want to save change ??");
				if (conf == true)
				{
										
					$.get("http://localhost:8080/updateUser?name=" + $("#name").val() + "&gender=" + $("#gender").val() + "&address=" + $("#address").val() + "&phone=" + $("#phone").val() + "&username=" + $("#username").val()  + "&password=" + $("#password").val() + "&role=" + $("#role").val() + "&dateadded=" + datec 
					,function(data, status)
					{
						if (data == "success")
						{
							window.open("http://localhost:8080/ViewUser", "_self");
						}else{
							alert(data);
						}
					});
				}
			} else{
				alert("password not match");
			}
			
	});
	
	// update user
	$(".btnUpdateUser").click(function(){
		var conf = confirm("Do you want to save change ??");
		if (conf == true)
		{						
			$.get("http://localhost:8080/updateUser?name=" + $("#name2").val() + "&gender=" + $("#gender2").val() + "&address=" + $("#address2").val() + "&phone=" + $("#phone2").val() + "&username=" + $("#username2").val() + "&role=" + $("#role2").val() + "&dateadded=" + datec + "&uid=" + $(".btnUpdateUser").val() 
			,function(data, status)
			{
				if (data == "success")
				{
					window.open("http://localhost:8080/ViewUser", "_self");
				}else{
					alert(data);
				}
			});
		}
	});
	
	
	// get edit data
	$(".btnEdit").click(function(){
		
		var selId = $(this).val();
		$.get("http://localhost:8080/UserList"
		,function(data, status)
		{
		
			for (var i in data)
	    	{
	    		if (data[i].uid ==  selId)
	    		{
	    			$("#name2").val(data[i].name);
					$("#gender2").html("<option> " + data[i].gender + "</option>" + $("#gender2").html());
					$("#address2").val(data[i].address);
					$("#phone2").val(data[i].phone);
					$("#username2").val(data[i].username);
					$("#role2").html("<option> " + data[i].role + "</option>" + $("#role2").html());
					
					$(".btnUpdateUser").val(data[i].uid);
	    			break;
	    		}
	    	}
	    			
			
		});
	});
  </script>

</body>
</html>
